API_SERVER_PORT=3000
BLOCK_LIFESPAN=3
ACCOUNT_LIFESPAN=5
SLACK_LOG_WEBHOOK="string"
CRYPTO_KEY="32 Byte string"
CRYPTO_IV="16 Byte string"
SENDGRID_API_KEY='string'
WELCOME_EMAIL_ID='string
AIRTABLE_API_KEY='string'
AIRTABLE_BASE='string'
