body, html {
  margin: 0px;
  padding: 0px;
}

.app {
  display: grid;
  grid-template-columns: auto $left-side-width $right-side-width auto;
  grid-template-rows: $topbar-height auto $footer-height;
  font-family: Helvetica, Arial, sans-serif;
  background: $background;
  height: 100vh;
  overflow: hidden;
}

.logo {
  font-size: 2em;
  font-family: 'Playfair Display', 'serif';
  color: $background;
  position: fixed;
  top: 1em;
  left: 2em;
  cursor: pointer;
}

button, input {
  border: none;
  font-size: 1em;
  border-radius: 50px;
  &:focus {
    outline-width: 0;
  }
}

button {
  background: $primary-color;
  padding: 0.5em 2em;
  color: $white;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.button {
  &--alt {
    background: $secondary-color;
  }
}

input {
  background: $white;
  padding: 0.8em 2em 0.8em 1em;
}

.input {
  &__container {
    margin: 1em 0em;
    display: flex;
    justify-content: space-between;
    input {
      width: 60%;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      color: $primary-color;
    }
    button {
      width: 40%;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px
    }
  }
}
