body, html {
  margin: 0px;
  padding: 0px;
}

.app {
  display: grid;
  grid-template-columns: $leftside-width auto;
  grid-template-rows: $topbar-height auto;
  font-family: Helvetica, Arial, sans-serif;
  background: $background;
  padding-bottom: 2em;
  min-height: 100vh;
  height: auto;
}

button {
  background: $primary-color;
  padding: 0.5em 2em;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-size: 1.3em;
}

.button {
  &--alt {
    background: $secondary-color;
  }
}
