body, html {
  margin: 0px;
  padding: 0px;
}

.app {
  display: grid;
  grid-template-columns: $leftside-width auto;
  grid-template-rows: $topbar-height auto;
  font-family: Helvetica, Arial, sans-serif;
  background: $background;
  padding-bottom: 2em;
  min-height: 100vh;
  height: auto;
}

.logo {
  grid-column-start: 1;
  grid-row-start: 1;
  font-size: 2em;
  font-family: 'Playfair Display', 'serif';
  color: $background;
  z-index: 2;
  padding-left: 1em;
  position: fixed;
}

button {
  background: $primary-color;
  padding: 0.5em 2em;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-size: 1.3em;
}

.button {
  &--alt {
    background: $secondary-color;
  }
}
