.images {
  &--blob {
    top: 0;
    position: fixed;
    z-index: 1;
    overflow: visible;
  }
  &__character {
    position: fixed;
    width: 30vw;
    height: 30vw;
    left: 0;
    background-repeat: no-repeat;
    z-index: 2;
  }
  &--hero {
    background-image: url('../assets/MeditatingDoodle.svg'), none;
  }
  &--created {
    background-image: url('../assets/SprintingDoodle.svg'), none;
  }
  &--getStarted {
    background-image: url('../assets/ReadingSideDoodle.svg'), none;
  }
  &--dashboard {
    background-image: url('../assets/UnboxingDoodle.svg'), none;
  }
  &--about {
    background-image: url('../assets/ZombieingDoodle.svg'), none;
  }
  &--status {
    background-image: url('../assets/RollerSkatingDoodle.svg'), none;
  }
  &__sponsor {
    background-image: url('../assets/BitIoLogo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 115px;
    height: 33px;
  }
}

