.images {
  &__character {
    width: 26vw;
    height: 36vh;
    background-repeat: no-repeat;
    z-index: 2;
  }

  &__hero {
    width: 50%;
    height: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
  }

  &--home {
    background-image: url('../assets/MeditatingDoodle.svg'), none;
  }

  &--example {
    background-image: url('../assets/example.svg'), none;
  }

  &--floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
