.landing {
  &__logo {
    grid-column-start: 2;
    grid-row-start: 1;
    padding: 0.5em 3em;
  }
  &__left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  &__right {
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 1em 3em;
  }
}
