.live {
  &__container {
    padding: 0.5em;
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
    color: $text-color;
    font-size: 0.8em;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon  {
    border-radius: 50%;
    border: 2px solid #61EF61;
    width: 10px;
    height: 10px;
    text-align: center;
    position: relative;
    animation: anim-glow 2s ease infinite;
    margin-left: 0.5em;
      
    i {
      border-radius: 50%;
      border: 2px solid #61EF61;
      width: 2px;
      height: 2px;
      display: inline-block;
      vertical-align: 4px;
      background-color: #61EF61;
    }
  }
}

@keyframes anim-glow {
  0% {
    box-shadow: 0 0 rgba(#61EF61, 1);
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}

