@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');

h1 {
  font-family: 'Playfair Display', 'sans-serif';
  font-size: 3em;
  line-height: 1em;
  width: 90%;
  color: $text-color;
}

p {
  color: $text-color;
}

.text {
  &__keyContainer {
    padding: 1em;
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    color: $primary-color;
    font-weight: bold;
  }
}
