@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto&display=swap');

h1, h2 {
  font-family: 'Playfair Display', 'serif';
  line-height: 1em;
}

h1, p {
  color: $text-color;
}

h1 {
  font-size: 4em;
}

h2 {
  color: $secondary-color;
}

p {
  color: $text-color;
  font-family: 'Roboto', 'sans-serif';
  line-height: 1.5em;
}

.text {
  &__container {
    padding: 1em;
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
    color: $text-color;
  }
  &--key {
    font-weight: bold;
    text-align: center;
  }
  &--light {
    color: $secondary-color;
  }
}
