// Colors
$white: #FFFFFF;
$green: #8CA994;
$orange: #FFE2C9;
$darkOrange: #E0AC95;
$purple: #08004B;
$red: #F56969;

$background: $orange;
$primary-color: $green;
$secondary-color: $darkOrange;
$text-color: $purple;

// Dimensions
$topbar-height: 3em;
$footer-height: 3em;
$left-side-width: 30%;
$right-side-width: 55%;
