// Colors
$white: #FFFFFF;
$background: #FFE2C9;
$primary-color: #8CA994;
$secondary-color: #F5BDA4;
$text-color: #08004B;

// Dimensions
$topbar-height: 3em;
$left-side-width: 30%;
$right-side-width: 50%;
