<main class="-mt-44">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
      <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose mx-auto">
          <h1>
            <span class="block text-base text-center text-orange-600 font-semibold tracking-wide uppercase">
              Learn about Pantry
            </span>
            <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
              Frequently Asked Questions
            </span>
          </h1>
        </div>
        <faq :questions="questions"/>
        </div>
      </div>
    </div>
  </div>
</main>
