<li class="text__container">
  {{ this.name }} - 
  <small>
    Expiry Date: {{ getDateOfDeletion() }} 
  </small>
  <span class="text__button" title="View & Edit Basket Contents" @click="load">
    <template v-if="active">
      <font-awesome-icon icon="eye-slash" />
    </template>
    <template v-else>
      <font-awesome-icon icon="eye" />
    </template>
  </span>
  <span class="text__button" title="Delete Basket" @click="deleteBasket">
    <font-awesome-icon icon="trash" />
  </span>
  <span class="text__button" title="Copy Path to Basket" @click="copyPath">
    <font-awesome-icon icon="clipboard" />
  </span>
  <template v-if="active">
    <div class="basket__payload-container">
      <json-edit
        v-model="basket"
        :mode="'code'"
        :show-btns="true"
        @json-save="update" />
    </div>
  </template>
</li> 
