<main class="flex-1">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
    <div class="relative">
      <div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          {{ name }}
        </h3>
        <div class="mt-3 inline-flex items-center gap-x-2.5 sm:mt-0 sm:ml-4">
          <button type="button"
                  @click="deleteBasket"
                  class="inline-flex items-center px-4 py-2
                  rounded-md text-sm font-medium
                  text-gray-700 bg-none hover:bg-gray-100
                  focus:outline-none focus:ring-2 focus:ring-offset-2
                  focus:ring-indigo-500">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
          </button>
          <button type="button"
                  @click="openShareModal"
                  class="inline-flex items-center gap-x-2.5 rounded-md
                         bg-orange-600 px-6 py-2
            text-sm font-semibold text-white shadow-xs hover:bg-orange-500
            focus-visible:outline-2 focus-visible:outline-offset-2
            focus-visible:outline-orange-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.217
                                                                     10.907a2.25
                                                                     2.25 0 1 0
                                                                     0
                                                                     2.186m0-2.186c.18.324.283.696.283
                                                                     1.093s-.103.77-.283
                                                                     1.093m0-2.186
                                                                     9.566-5.314m-9.566
                                                                     7.5 9.566
                                                                     5.314m0
                                                                     0a2.25 2.25
                                                                     0 1 0 3.935
                                                                     2.186 2.25
                                                                     2.25 0 0
                                                                     0-3.935-2.186Zm0-12.814a2.25
                                                                     2.25 0 1 0
                                                                     3.933-2.185
                                                                     2.25 2.25 0
                                                                     0 0-3.933
                                                                     2.185Z" />
            </svg>
            <span>Share</span>
          </button>
        </div>
      </div>
      <div class="mt-5">
        <json-edit
          v-model="data"
          :mode="'code'"
          :show-btns="true"
          @json-save="save" />
      </div>
    </div>
  </div>
  <template v-if="shareModalVisible">
    <modal @close="closeShareModal" :read-only="true">
      <template v-slot:icon>
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path></svg>
      </template>
      <template v-slot:title>Share Your Basket</template>
      <template v-slot:content>
        <div>
          <h3 class="font-bold">
            <span class="inline-flex items-center rounded-md bg-green-50 px-2
              py-1 text-xs font-medium text-green-700 border-solid border
              border-green-600">
              GET
            </span>
            Read Only
          </h3>
          <label class="mt-2 block text-sm font-medium text-gray-700">
            Share this link with anyone! They will be able to see the contents
            of your basket, <b>but won't be able to modify it</b>.
          </label>
          <div class="mt-2 flex rounded-md shadow-sm">
            <div class="relative flex items-stretch flex-grow focus-within:z-10">
              <span class="inline-flex items-center px-4 rounded-l-md border border-r-0
                          border-green-600 bg-green-200 text-gray-700 sm:text-sm">
                Public
              </span>
              <input type="text" name="email" id="email" readonly
                     class="focus:ring-indigo-500 focus:border-indigo-500
                           block w-full rounded-none sm:text-sm border
                     border-gray-300 pl-3"
                     :value="publicBasketPath">
            </div>
            <button type="button"
                    @click="copyPath(publicBasketPath)"
                    class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2
                          border border-gray-300 text-sm font-medium rounded-r-md text-gray-700
                          bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1
                          focus:ring-indigo-500 focus:border-indigo-500">
              <span>Copy</span>
            </button>
          </div>
        </div>
        <div class="mt-8">
          <h3 class="font-bold">
            <span class="inline-flex items-center rounded-md bg-red-50 px-2
              py-1 text-xs font-medium text-red-700 border-solid border
              border-red-600">
              GET & POST
            </span>
            Edit Access
          </h3>
          <label class="mt-2 block text-sm font-medium text-gray-700">
            <b>Danger! This link contans your Pantry ID and Basket Name!</b> Anyone
            with this link will be able to <b>view and edit</b> this basket.
          </label>
          <div class="mt-2 flex rounded-md shadow-sm">
            <div class="relative flex items-stretch flex-grow focus-within:z-10">
              <span class="inline-flex items-center px-4 rounded-l-md border border-r-0
                          border-yellow-400 bg-yellow-200 text-gray-700 sm:text-sm">
                Private
              </span>
              <input type="text" name="email" id="email" readonly
                     class="focus:ring-indigo-500 focus:border-indigo-500
                           block w-full rounded-none sm:text-sm border
                     border-gray-300 pl-3"
                     :value="basketPath()">
            </div>
            <button type="button"
                    @click="copyPath(basketPath())"
                    class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2
                          border border-gray-300 text-sm font-medium rounded-r-md text-gray-700
                          bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1
                          focus:ring-indigo-500 focus:border-indigo-500">
              <span>Copy</span>
            </button>
          </div>
        </div>
      </template>
    </modal>
  </template>
</main>
