<div class="bottomBar__container">
  <div class="bottomBar__link-container">
    <div class="bottomBar__link">
      <a href="http://rohanlikhite.com/">
        Made in Canada 🇨🇦 
      </a>
    </div>
  </div>
  <div class="bottomBar__sponsor-container">
    <a href="https://bit.io/about?utm_source=getpantry_footer&utm_medium=sponsor&utm_campaign=get_pantry_sponsorship" class="bottomBar__sponsor">
      Sponsored By
    </a>
    <a href="https://bit.io/about?utm_source=getpantry_footer&utm_medium=sponsor&utm_campaign=get_pantry_sponsorship" class="bottomBar__sponsor">
      <div class="images__sponsor"></div>
    </a>
  </div>
</div>
