<section class="pt-10 sm:pt-12 pb-10 sm:pb-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mt-16 space-y-16">
      <div class="flex items-center">
        <div>
          <h2 class="text-3xl font-extrabold text-orange-400 sm:text-4xl">
            Jump Right In
          </h2>
          <p class="mt-3 text-xl text-gray-700 sm:mt-4">
            Quickly add Pantry to your project using one of our
            easy-to-use client libraries.
          </p>
          <div class="mt-5">
            <code class="bg-orange-50 p-4 font-medium rounded-md">
              npm install pantry-node
            </code>
            <span class="ml-5">
              <button @click="showSDK"
                      class="py-3 px-4 rounded-md shadow bg-orange-500
                      text-white font-medium hover:bg-orange-600 focus:outline-none
                      focus:ring-2 focus:ring-offset-2 focus:ring-orange-300
                      focus:ring-offset-orange-900">
                View all libraries
              </button>
            </span>
          </div>
        </div>
        <div class="images__hero images--example"></div>
      </div>
    </div>
  </div>
</section>
