<div class="p-4">
  <button type="button"
          class="relative block w-full border-2 border-orange-300 border-dashed
                 rounded-lg p-12 text-center hover:border-orange-400
                 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          @click="loadBasket">
      <svg class="mx-auto h-12 w-12 text-orange-400" fill="currentColor" viewBox="0 0 20 20"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 18a8
        8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000
        1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0
        100-2H9.414l1.293-1.293z" clip-rule="evenodd"></path>
      </svg>
      <span class="mt-2 block text-lg font-medium text-gray-900">
        Select one of the baskets from the left in order to view and edit your
        data.
      </span>
  </button>
</div>
