<section class="pt-10 bg-white rounded-md py-8 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="lg:text-center">
    <h2 class="text-base text-orange-600 font-semibold tracking-wide
      uppercase">Effortless</h2>
    <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight
    text-gray-900 sm:text-4xl">A better JSON storage solution</p>
    <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
      CRUD your data on the cloud in just 2 minutes either by using our
      API or dashboard. Perfect for small projects and hackathons!
    </p>
  </div>

  <div class="mt-10">
    <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
      <div class="relative">
        <dt>
          <div class="absolute flex items-center justify-center h-12 w-12
            rounded-md bg-orange-500 text-white">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0
                11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010
                1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0
                010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0
                010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0
                010-1.414z" clip-rule="evenodd"></path>
            </svg>
          </div>
          <p class="ml-16 text-lg leading-6 font-medium text-gray-900">
            Simple API
          </p>
        </dt>
        <dd class="mt-2 ml-16 text-base text-gray-500">
          We've built a very straightforward and easy-to-use API which you can
          use to CRUD your Pantry's data. Simple and intuitive - that's the
          goal.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <div class="absolute flex items-center justify-center h-12 w-12
            rounded-md bg-orange-500 text-white">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
              <path d="M3 12v3c0 1.657 3.134 3 7 3s7-1.343 7-3v-3c0 1.657-3.134 3-7
                       3s-7-1.343-7-3z"></path>
              <path d="M3 7v3c0 1.657 3.134 3 7 3s7-1.343 7-3V7c0 1.657-3.134 3-7 3S3 8.657
                       3 7z"></path>
              <path d="M17 5c0 1.657-3.134 3-7 3S3 6.657 3 5s3.134-3 7-3 7 1.343 7
                       3z"></path>
            </svg>
          </div>
          <p class="ml-16 text-lg leading-6 font-medium text-gray-900">
            Generous Storage Limit
          </p>
        </dt>
        <dd class="mt-2 ml-16 text-base text-gray-500">
          Each Pantry can hold over 100mb of data. That's a lot of JSON, and we
          think it's a great starting point for developers to build their
          projects.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <div class="absolute flex items-center justify-center h-12 w-12
            rounded-md bg-orange-500 text-white">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
            </svg>
          </div>
          <p class="ml-16 text-lg leading-6 font-medium text-gray-900">
            Powerful Dashboard 
          </p>
        </dt>
        <dd class="mt-2 ml-16 text-base text-gray-500">
          We also offer a interactive dashboard which you can use to interact with
          your Pantry's baskets. This intuitive interface is especially helpful
          when debugging your application!
        </dd>
      </div>

      <div class="relative">
        <dt>
          <div class="absolute flex items-center justify-center h-12 w-12
            rounded-md bg-orange-500 text-white">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2
                    0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0
                    001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1
                    1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"></path>
            </svg>
          </div>
          <p class="ml-16 text-lg leading-6 font-medium text-gray-900">
            100% Open Source
          </p>
        </dt>
        <dd class="mt-2 ml-16 text-base text-gray-500">
          This project is open-source and supported by a wonderful group of
          developers who continue to improve the platform.
          <div class="mt-2">
            <iframe src="https://github.com/sponsors/imRohan/button"
              title="Sponsor imRohan" height="35" width="116" style="border:
              0;"></iframe>
           </div>
        </dd>
      </div>
    </dl>
  </div>
</section>
