<div class="landing__left">
  <svg
    class="images--blob"
    width="40vw"
    height="100%"
    viewBox="0 0 300 300"
    xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(50,100)">
      <path
      d="M126.8,-186.5C172.1,-168.2,222,-146.2,229.4,-110.5C236.7,-74.8,201.5,-25.5,187.4,22.3C173.3,70.1,180.4,116.2,164.9,153.8C149.4,191.4,111.3,220.4,69.2,230.5C27,240.5,-19.2,231.6,-45.6,202.3C-72,173.1,-78.7,123.5,-115.7,93.3C-152.6,63.1,-219.8,52.2,-247.3,20.8C-274.7,-10.6,-262.4,-62.4,-228.5,-90.9C-194.5,-119.3,-138.9,-124.4,-97.2,-144.4C-55.5,-164.4,-27.8,-199.2,6.5,-209.3C40.7,-219.4,81.5,-204.7,126.8,-186.5Z"
      fill="#F5BDA4" />
    </g>
  </svg>
  <svg
    class="images--blob"
    height="50vw"
    viewBox="0 0 600 600"
    xmlns="http://www.w3.org/2000/svg"
    >
    <g transform="translate(300,300)">
      <path d="M168.4,-144C195.1,-100.9,177.5,-32.2,163.4,40.5C149.4,113.2,138.9,190,98.3,212.9C57.7,235.8,-13,204.8,-71,168.7C-128.9,132.6,-174.2,91.3,-183.7,43.7C-193.1,-4,-166.9,-58.1,-130.4,-103.5C-93.8,-148.8,-46.9,-185.4,12,-195C70.9,-204.5,141.8,-187.1,168.4,-144Z"
      fill="#f9e9e987" />
    </g>
  </svg>
  <template v-if="view === 'home'">
    <div class="images__character images--hero"></div>
  </template>
  <template v-if="view === 'created'">
    <div class="images__character images--created"></div>
  </template>
  <template v-if="view === 'getStarted'">
    <div class="images__character images--getStarted"></div>
  </template>
  <template v-if="view === 'about'">
    <div class="images__character images--about"></div>
  </template>
  <template v-if="view === 'docs'">
    <div class="images__character images--docs"></div>
  </template>
  <template v-if="view === 'dashboard'">
    <div class="images__character images--docs"></div>
  </template>
</div>
