<div class="landing__right">
  <template v-if="view === 'home'">
    <h1>
      Unburden yourself from data storage woes.
    </h1>
    <p>
      Focus your efforts on building your next project and leave
      the data storage to us. With free NoSQL cloud storage for you and
      your users, Pantry speeds up development time letting you
      build awesome things - fast!
    </p>
    <transition name="slide-fade" mode="out-in">
      <div v-if="!showNameField" key="enterEmail">
        <div class="input__container">
          <input v-model="signup.email" placeholder="you@example.com">
          <button @click="enterPantryName" :disabled="!signupValid()">
            Create a Pantry
          </button>
        </div>
        <p v-if="signup.email && !signupValid()" class="text--light">
          Sorry, but that email is invalid.
        </p>
        <p v-else class="text--light">
          Don't worry, we'll only contact you if its important.
        </p>
      </div>
      <div v-else key="enterPantryName">
        <div class="input__container">
          <input v-model="signup.accountName" placeholder="">
          <button @click="createNewPantry" :disabled="!signupNameValid()">
            Name your Pantry
          </button>
        </div>
        <p class="text--light">
          Give your Pantry a creative name
        </p>
      </div>
    </transition>
  </template>

  <template v-if="view === 'created'">
    <h1>
      Your Pantry's Ready!
    </h1>
    <h2>Save your PantryID</h2>
    <p>
      Here is your <b>pantryID</b>! Keep this safe as we won't be sharing it with you again.
      Once you've saved it somewhere, hit the button below and we'll show you how to add items to your pantry.
    </p>
    <p class="text__container text--key">
      {{ pantry.id }}
      <span class="text__button" @click="copyPantryId">
        {{ copyPantryIdMessage }}
      </span>
    </p>
    <button @click="getStarted">
      Let's Get Started!
    </button>
  </template>

  <template v-if="view === 'about'">
    <h1>
      About
    </h1>
    <p>
      Pantry is a free service that provides perishable data storage
      for small projects. Data is securely stored for as long as you and your users need
      it and is deleted after a period of inactivity. Simply use the restful API to
      post JSON objects and we'll take care of the rest.
    </p>
    <p>
      It was built to provide a simple, re-usable storage solution for smaller sized projects.
      It was created by developers for developers, to be there when you need it
      and to help you rapidly prototype your next project.
    </p>
    <h2>Contribute</h2>
    <p>
      If you'd like to help develop Pantry, or have an issue to report, please visit the
      <a href="https://github.com/imRohan/Pantry" class="text--dark">
        GitHub repo
      </a>.
    </p>
    <a href="https://www.buymeacoffee.com/imRohan" target="_blank">
      <img src="https://cdn.buymeacoffee.com/buttons/default-orange.png" alt="Buy Me
      A Coffee" style="height: 30px !important;width: 140px !important;
      border-radius: 5px;" >
    </a>
  </template>

  <template v-if="view === 'dashboard'">
    <template v-if="pantry.data">
      <h1>
        {{ pantry.data.name }}
      </h1>
      <template v-if="pantry.data.baskets && pantry.data.baskets.length !== 0">
        <h2>
          {{pantry.data.baskets.length}}
          {{pantry.data.baskets.length > 1 ? 'Baskets' : 'Basket' }}
          in this Pantry
          - {{pantry.data.percentFull}}% Full
        </h2>
        <div class="basket__container">
          <ul>
            <template v-for="basketName in pantry.data.baskets">
              <li class="text__container">
                {{ basketName }}
                <span class="text__button" @click="toggleBasket(basketName)">
                  {{ activeBasket === basketName ? 'hide' : 'show' }}
                </span>
                <template v-if="activeBasket === basketName">
                  <div class="basket__payload-container">
                    <json-view
                      :deep="1"
                      :showLength="true"
                      :data="basket"/>
                  </div>
                </template>
              </li> 
            </template>
          </ul>
        </div>
      </template>
      <template v-else>
        <p>
          Looks like your pantry is empty and currently has no baskets. 
        </p>
        <p>
          To add a basket to your pantry, simply send a <b>POST</b> request
          to our API with the <b>name</b> and the <b>payload</b> of the basket
        </p>
        <p class="text__container text--code">
          curl -XPOST -H "Content-type: application/json" -d '{
            "key": "value"
            }' '{{apiPath}}/pantry/{{this.pantry.id}}/basket/testBasket'
        </p>
        <button @click="showDocs">
          Show Me The API Docs!
        </button>
      </template>
    </template>
    <template v-else>
      <h1>View Your Pantry</h1>
      <p>
        Don't want to use our API? It's ok, we've all been there.
        Enter your PantryID below and we'll show you what's inside it! 
      </p>
      <div class="input__container">
        <input v-model="pantry.id" placeholder="Please paste your PantryID">
        <button @click="loadPantry" :disabled="!pantryIDValid()">
          Explore
        </button>
      </div>
      <button
        @click="goHome"
        class="button--alt">
        Go Back
      </button>
    </template>
  </template>
</div>
