<div class="landing__right">
  <template v-if="view === 'home'">
    <h1 class="text--dark">
      Unburden yourself from data storage woes.
    </h1>
    <p class="text--dark">
      Focus your efforts on building your next project and leave
      the data storage to us. With free NoSQL cloud storage for you and
      your users, Pantry speeds up development time and letting you
      build awesome things - fast!
    </p>
    <button
      @click="createNewPantry"
      class="button--large">
      Create New Pantry
    </button>
  </template>
  <template v-if="view === 'created'">
    <h1>
      Your Pantry's been created!
    </h1>
    <p>
      Keep this key safe! We won't be sharing it with you again.
    </p>
    <div class="text__keyContainer">
      {{ pantryId }}
    </div>
    <p>
      Once you've saved it somewhere, hit the button below and we'll show you
      how to add items to your pantry.
    </p>
    <button
      @click="showDocs"
      class="button--large">
      Show Me The Docs!
    </button>
  </template>
  <template v-if="view === 'docs'">
  </template>
</div>
