<main class="-mt-44">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
      <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose mx-auto">
          <h1>
            <span class="block text-base text-center text-orange-600
                         font-semibold tracking-wide uppercase">
              Libraries and SDK's
            </span>
            <span class="mt-2 block text-3xl text-center leading-8
                         font-extrabold tracking-tight text-gray-900
                         sm:text-4xl">
              Developer Tools
            </span>
          </h1>
          <p class="mt-8 text-xl text-gray-500 leading-8">
            Pantry has official libraries which will be maintained and supported
            by the team going forward.

            There are also several third-party libraries built by kind
            developers (like yourself) that we'd like to showcase.
          </p>

          <div class="mt-8">
            <ul role="list" class="mt-3 grid grid-cols-1 gap-4 sm:gap-6 sm:grid-cols-2 lg:grid-cols-3">
              <template v-for="sdk in sdks">
                <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
                  <div class="w-full flex items-center justify-between p-6 space-x-6">
                    <div class="flex-1 truncate">
                      <div class="flex items-center space-x-1">
                        <h3 class="text-gray-900 text-md font-medium truncate">
                          {{ sdk.name }}
                        </h3>
                      </div>
                      <div class="flex items-center space-x-1">
                        <template v-if="sdk.verified">
                          <span class="flex items-center inline-block text-xs
                                      font-medium">
                            <svg class="w-3 h-3" fill="none" stroke="#1d85ff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z">
                              </path>
                            </svg>
                            <span class="ml-1">
                              Team Pantry
                            </span>
                          </span>
                        </template>
                        <template v-else>
                          <span class="text-gray-500 text-sm truncate">
                            by: {{ sdk.author }}
                          </span>
                        </template>
                      </div>
                      <div>
                        <div :class="[defaultBadgeClasses, getBadgeClass(sdk.platform)]">
                          {{ sdk.platform }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="-mt-px flex divide-x divide-gray-200">
                      <div class="w-0 flex-1 flex">
                        <a :href="sdk.link" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
                          <svg class="w-6 h-6" fill="none" stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"><path
                            stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0
                            002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10
                            14"></path></svg></path></svg>
                          <span class="ml-3">View Project</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              </template>

              <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
                <a href="https://github.com/imRohan/Pantry/discussions/151"
                   target="_blank">
                  <div class="flex-1 flex flex-col pt-8 pb-4">
                    <div class="flex justify-center items-center
                                m-auto">
                      <svg class="w-14 h-14" fill="none" stroke="#cdcdcd" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z">
                        </path>
                      </svg>
                    </div>
                  </div>
                  <div class="flex">
                    <div class="relative w-0 flex-1 inline-flex items-center
                               justify-center text-sm text-gray-700 font-medium
                               border border-transparent rounded-bl-lg hover:text-gray-500">
                      <span class="ml-3">Add Your Own</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
