<div>
  <h1>
    Developer Tools
  </h1>

  <p>
    Get up and running with these user-created helper libraries, and integration tools.
  </p>

  <table class="table--borderless">
    <thead>
      <th></th> 
      <th>Platform</th> 
      <th>Documentation</th> 
    </thead> 
    <tbody>
      <template v-for="sdk in sdks">
        <tr>
          <td class="text--key">{{ sdk.name }}</td>
          <td>{{ sdk.platform }}</td>
          <td><a :href="sdk.link">{{ sdk.hostPlatform }}</a></td>
        </tr>
      </template>
    </tbody>
  </table>
</div>
