<div class="min-h-full">
  <div :class="topbarClass()">
    <nav class="bg-orange-400 border-b border-indigo-300 border-opacity-25 lg:border-none">
      <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
        <div class="relative h-16 flex items-center justify-between lg:border-b lg:border-indigo-400 lg:border-opacity-25">
          <button class="text-white logo hover:bg-orange-500 hover:bg-opacity-75
            rounded-md py-2 px-3 -ml-3 text-4xl font-medium float-left" @click="goHome">
            Pantry 🍊
          </button>
          <div class="px-2 flex items-left lg:px-0">
            <div class="hidden lg:block lg:ml-10">
              <div class="flex space-x-4 text-orange-100 text-md">
                <button class="hover:bg-orange-500 hover:bg-opacity-75
                  rounded-md py-2 px-3 font-bold hover:text-white" @click="showAbout">
                  FAQ's
                </button>
                <button class="hover:bg-orange-500 hover:bg-opacity-75
                  rounded-md py-2 px-3 font-bold hover:text-white" @click="showSDK">
                  Developer Tools
                </button>
                <button class="hover:bg-orange-500 hover:bg-opacity-75
                  rounded-md py-2 px-3 font-bold hover:text-white" @click="showDocs">
                  API Documentation
                </button>
                <button class="bg-orange-300 text-white hover:bg-orange-500 hover:bg-opacity-75
                  rounded-md py-2 px-3 font-bold" @click="showDashboard">
                  Dashboard
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

